body {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Logo {
    cursor: pointer;
    font-family: 'Permanent Marker', sans-serif;
    color:white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

.nav__links a,
.LogoutButton {
    font-family: "Comme", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
    position: relative;
}

    .nav__links li {
        padding: 0px 20px;
    }

        .nav__links li a {
            transition: color 0.3s ease 0s;
        }

            .nav__links li a:hover {
                color: lightgoldenrodyellow;
                text-decoration: underline;
            }

.LogoutButton {
    padding: 9px 25px;
    background-color: white;
    color:black;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

    .LogoutButton:hover {
        background-color: lightgoldenrodyellow;
    }
