* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration : none;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url("data:image/svg+xml,%3Csvg class='border shadow-md' viewBox='0 0 1081.52 608.355' style='width: 1081.52px; height: 608.355px;' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Crect class='bg' id='bg' x='0' y='0' width='1081.52' height='608.355' fill='%23ffffff'%3E%3C/rect%3E%3Cg transform='rotate(202 540.76 304.1775)'%3E%3Cpath d='M -270.38 378.36 S -145.19 260.36 0.00 378.36 83.38 176.36 270.38 378.36 395.57 216.36 540.76 378.36 665.95 323.36 811.14 378.36 936.33 328.36 1081.52 378.36 1173.90 181.36 1351.90 378.36 h 110 V 1208.355 H -270.38 Z' fill='none' stroke='%23000000' stroke-width='19'%3E%3C/path%3E%3Cpath d='M -270.38 255.00 S -145.19 137.50 0.00 255.00 125.19 137.50 270.38 255.00 385.76 37.00 540.76 255.00 665.95 137.50 811.14 255.00 936.33 95.00 1081.52 255.00 1117.90 63.00 1351.90 255.00 h 110 V -600 H -270.38 Z' fill='none' stroke='%23000000' stroke-width='19'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 7px;
    border-inline-color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-family: 'Edu TAS Beginner', sans-serif;
    font-size: 50px;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
    font-family: 'Comme', sans-serif;
}

.label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-family: 'Comme', sans-serif;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box .label {
    font-family: 'Comme', sans-serif;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.form :where(.gender-option, .gender) {
    font-family: 'Comme', sans-serif;
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    margin-top: 8px;
    column-gap: 5px;
}

.gender input {
    accent-color: black;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.genderText {
    color: #707070;
}

.button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: black;
}

.button:hover {
   color: black;
    background: white;
    border-inline-color: black;
}

.ErrorLbl {
    margin-top: 20px;
    font-family: 'Comme', sans-serif;
}
